<h1>Teams</h1>
<p>Confira todos os times de Corrida de Aventura do Brasil</p>

<%= link_to "Add a team", new_team_path, class: "btn btn-primary" %>





<div class="container">
  <% @teams.each do |team| %>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="card-team">
          <h2> <%= link_to team.name, team_path(team)%></h2>
          <%= link_to 'Edit Team', edit_team_path(team), class: "btn btn-success btn-xs" %>
          <%= link_to team_path(team), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_dose"></i>
                <% end %>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="card-team">
          <h2>Atletas</h2>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md43 col-lg-4">
        <div class="card-team">
          <h2>Team Skills</h2>
          <ul class="list-group">
            <li class="list-group-item">
            Trekking:
            <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= team.trekking > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
            </li>
            <li class="list-group-item">
            MTB:
            <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= team.mtb > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
            </li>
            <li class="list-group-item">
            Canoagem:
            <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= team.kayaking > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
            </li>
            <li class="list-group-item">
            Orientação:
            <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= team.orienteering > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
            </li>
            <li class="list-group-item">
            Vertical:
            <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= team.vertical > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
            </li>




















          </ul>


        </div>
      </div>

    </div>
  <% end %>
</div>
